table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid white;
    text-align: left;
    padding: 8px;
  }
  tr{
    background-color: #dddddd;
  }
.ip{
  background-color: green;
color: white;
}