button {
    border-radius: 5px;
    color: white;
    background-color: rgb(80, 12, 190);
    border: none;
    width: 10%;
height: 40px;
box-shadow: 2px 2px 5px grey;
}
form{
    text-align: center;
}
body{
    background-color: rgb(211, 203, 203);
}
input{
    box-shadow: 2px 2px 5px grey;
}