a { 
    text-decoration: none;
    position: center;
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
}

form{
    margin: auto;
    width: 35%;
}
input{
    padding: 5px;
    width: 100%;
}
button{
    width: 30%;
    background-color: rgb(110, 68, 209);
    color: white;
    padding: 10px;
    border: none;
}
.in4 button{
    width: 30%;
    background-color: rgb(255, 123, 0);
    color: white;
    padding: 10px;
    border: none;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid grey;
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: rgb(43, 34, 73);
  }