* {
    margin: 0;
    padding: 0;
}

.container {
    min-height: 100vh;
    background-color: grey;
display: flex;
justify-content: space-around;
    .divs {
        width: 20%;
        height: 150px;
        border: 2px solid black;
        &:nth-child(1){
            background-color: red;
        }
        &:nth-child(2){
            background-color: yellow;
            align-self: center;
        }
        &:nth-child(3){
            background-color: green;
            align-self: flex-end;
        }
        &:nth-child(4){
            background-color: blue;
        }
    }

} 