img{
    display: inline-block;
    width: 350px;
    height: 20%;
}
div{
    display: inline-block;
}
@media screen and (max-width:1000px){
    div{
        display: flex;
    }
}
@media screen and (max-width:650px){
    div{
        display: inline-block;
    }
}