body {
    background: black;
    color: white;
}
button{
    width: 11.2%;
    background-color: rgb(13, 106, 245);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.div{
    border-radius: 10px;
}
