#line{
    margin: auto;
    margin-top: 20px;
    width: 55%;
    height: 5px;
    background-color: rgb(225, 224, 224);
    display: flex;
    justify-content: space-between;
}
#text{
    margin: auto;
    width: 60%;
    display: flex;
    justify-content: space-between;
}
#text span{
    position: relative;
}
#text span div{
    width: 100px;
    position: absolute;
    top: 50%;
    left: -70%;
    transform: translateY(-50%);
    height: 2px;
    background-color: rgb(143, 142, 142);
}
#line span{
    margin-top: -2px;
height: 10px;
width: 10px;
border-radius: 100%;
background-color: rgb(225, 224, 224);
}
#line #selected{
    background-color: blue;
    border: 3px solid rgb(225, 224, 224);
    margin-top: -5px;
}
p{
    font-size: 20px;
    color: grey;
    transition: 0.3s;
}
p:hover{
    font-size: 30px;
    color: blue;
}
h1{
    margin-left: 640px;
    color: grey;
}
b{
    color: rgb(87, 86, 86);
}
#F1000{
    margin-left: 590px;
    font-weight: 10;
}
#F1{
    background-color: rgb(77, 197, 228);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 3px;
    margin-left: 700px;
}